// Start Reset Style
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

// End Reset Style

// Start General Header
header {
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 1000;

    .navBar.active {
        padding: 24px 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        background: #000;
        transition: all 0.5s;

    }

    .container {
        padding: 0 5px;

        // Start NavBar
        .navBar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 80px;


            .navbar {

                // Start Navbar List
                .navbar--list {
                    display: flex;
                    gap: 20px;

                    // Start Navbar List Item
                    .navbar-list--item {
                        a {
                            position: relative;
                            font-size: 18px;
                            font-weight: 400;
                            text-transform: capitalize;
                            color: #fff;
                            font-family: "Paytone One", sans-serif;
                            cursor: pointer;

                            // NavBar Hover
                            &:hover {
                                color: #f2c64d;

                                &::before {
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 2px;
                                    background: #000;
                                    left: 0;
                                    bottom: -15px;
                                    position: absolute;
                                    background: #f2c64d;
                                }
                            }

                            i {
                                font-size: 10px;
                                text-align: center;
                                padding-left: 5px;
                            }
                        }

                        // Start Navbar Item Active
                        .active {
                            cursor: pointer;
                            color: #f2c64d;
                            position: relative;

                            &::before {
                                content: "";
                                display: block;
                                width: 100%;
                                height: 2px;
                                background: #000;
                                left: 0;
                                bottom: -15px;
                                position: absolute;
                                background: #f2c64d;
                            }
                        }

                        // End Navbar List Item

                        // Start Navbar List Item
                        .down {
                            position: relative;
                            display: inline-block;

                            &:hover .down--list {
                                display: block;
                            }

                            .down--list {
                                cursor: pointer;
                                display: none;
                                position: absolute;
                                top: 38px;
                                background-color: #f1f1f1;
                                min-width: 160px;
                                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                                z-index: 1;

                                a {
                                    color: black;
                                    padding: 12px 16px;
                                    text-decoration: none;
                                    display: block;

                                    &:hover {
                                        background-color: #ddd
                                    }
                                }
                            }
                        }

                        // End Navbar List Item
                    }

                    // End Navbar List Item
                }
            }

            // End Navbar List

            // Start Sosial
            .sosial {
                display: flex;
                gap: 25px;

                .sosial--icons {

                    //Start Sosial List
                    .sosial-icons--list {
                        display: flex;
                        gap: 25px;

                        // Start Sosial List Item
                        .sosial-list--item {
                            cursor: pointer;

                            // Sosial Hover
                            &:hover {
                                border: 1px solid #f2c64d;
                                padding: 7px;
                                border-radius: 50%;
                                transform: rotateY(360deg);
                            }

                            a {
                                color: #fff;
                                font-family: "Paytone One", sans-serif;

                                &:hover {
                                    color: #f2c64d;
                                }
                            }
                        }

                        // End Sosial List Item
                    }

                    // End Sosial List
                }

                // Start Sosial Number
                .sosial--number {
                    a {
                        background: transparent;
                        padding: 12px 26px;
                        font-size: 18px;
                        font-weight: 400;
                        border: 1px solid #f2c64d;
                        color: #f2c64d;
                        border-radius: 30px;
                        font-family: "Paytone One", sans-serif;

                        // Sosial Number Hover
                        &:hover {
                            color: #fff;
                            background-color: #f2c64d;
                        }
                    }
                }

                // End Sosial Number
            }

            // End Sosial
        }

        // End NavBar
        .mobile--navbar {
            display: none;
        }

        .mobile-navbar--list {
            display: none;
        }
    }
}

// End Header

// Start Media Navbar max-width:800px
@media (max-width: 800px) {
    header {
        position: relative;

        .container {

            // Start NavBar
            .navBar {
                display: none;
            }

            // End NavBar

            // Start Mobile Navbar
            .mobile--navbar {
                position: relative;
                background-color: #4c4c4c;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 15px;

                // Start Mobile Navbar Button 
                .mobile-navbar--btn {
                    position: absolute;
                    right: 10px;
                    border: 1px solid black;
                    background: black;
                    padding: 5px;
                    outline: none;

                    // Start Mobile Navbar Button Text
                    .mobile-navbar--btn--text {
                        color: #fff;
                        line-height: 1.188em;
                        font-weight: 700;
                        text-shadow: 0 1px 3px #000;
                        font-size: 20px;
                        padding: 0 8px;
                    }

                    // End Mobile Navbar Button Text

                    // Start Mobile Navbar Button Icon
                    .mobile-navbar--btn--icon {
                        line-height: 1.188em;
                        color: #fff;
                        font-weight: 700;
                        text-shadow: 0 1px 3px #000;
                        font-size: 18px;
                    }

                    // End Mobile Navbar Button Icon
                }

                // End Mobile Navbar Button
            }

            // End Mobile Navbar

            // Start Mobile Navbar List
            .mobile-navbar--list {
                background-color: #4c4c4c;
                position: absolute;
                top: -500px;
                width: 100%;
                height: auto;
                transition: .3s;
                display: block;
                z-index: 99999;

                ul {
                    li {
                        a {
                            color: #fff;
                            font-size: 20px;
                            line-height: 45px;
                            letter-spacing: 0.2px;
                        }
                    }
                }
            }

            // End Mobile Navbar List

            // Start Navbar-Show
            .navbar--show {
                top: 50px;
            }

            // End Navbar-Show
        }
    }
}

// End General Header

// Start General Footer
// Start Footer
footer {

    // Start Footer Container
    .container {
        padding: 0 25px;

        // Start General Footer
        .footer {

            // Start Footer Content
            .footer--content {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;

                // Start Footer Content NewYork
                .newyork {
                    text-align: center;
                    padding-top: 113px;
                    padding-bottom: 100px;

                    h3 {
                        margin-bottom: 34px;
                        font-size: 24px;
                        font-weight: 700;
                        color: #1a0d01;
                        text-transform: capitalize;
                        font-family: "Montserrat", sans-serif;
                        line-height: 1.2em;
                    }

                    p {
                        color: #6e6e6e;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 13px;
                        font-family: 'Raleway', sans-serif;

                        a {
                            color: #6e6e6e;
                            outline: medium none;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 28px;
                        }
                    }

                    a {
                        color: #f0542c;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 28px;
                        font-family: "Montserrat", sans-serif;
                        outline: medium none;
                    }
                }

                // End Footer Content NewYork

                // Start Footer Content California
                .california {
                    text-align: center;

                    h3 {
                        margin-bottom: 34px;
                        font-size: 24px;
                        font-weight: 700;
                        color: #1a0d01;
                        text-transform: capitalize;
                        font-family: "Montserrat", sans-serif;
                        line-height: 1.2em;
                    }

                    p {
                        color: #6e6e6e;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 13px;
                        font-family: 'Raleway', sans-serif;

                        a {
                            color: #6e6e6e;
                            outline: medium none;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 28px;
                        }
                    }

                    a {
                        color: #f0542c;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 28px;
                        font-family: "Montserrat", sans-serif;
                        outline: medium none;
                    }
                }

                // End Footer Content California

                // Start Footer Content Stay
                .stay {
                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        color: #1a0d01;
                        text-transform: capitalize;
                        margin-bottom: 39px;
                        font-family: "Montserrat", sans-serif;
                        line-height: 1.2em;
                    }

                    form {
                        position: relative;
                        margin-bottom: 20px;

                        input {
                            width: 100%;
                            height: 50px;
                            background: #f5fbff;
                            padding-left: 20px;
                            font-size: 15px;
                            color: #000;
                            border: 1px solid #e8e8e8;
                            border-radius: 30px;
                            overflow: visible;
                            outline: none;

                            &:focus {
                                border: 2px solid #f0542c;
                            }
                        }

                        button {
                            position: absolute;
                            height: 40px;
                            border: none;
                            color: #fff;
                            background: #f0542c;
                            padding: 10px;
                            padding: 0 22px;
                            cursor: pointer;
                            border-radius: 30px;
                            top: 5px;
                            right: 5px;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }

                    p {
                        font-size: 16px;
                        color: #6e6e6e;
                        line-height: 26px;
                        font-weight: 400;
                        margin-bottom: 13px;
                    }
                }

                // End Footer Content Stay
            }

            // End Footer Content

            // Start Footer Sosial
            .footer--sosial {

                // Start Footer Sosial Icons List
                .footer-sosial--icons--list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;

                    // Start Footer Sosial Icons List Item 
                    .footer-sosial--list--icons--item {
                        a {
                            font-size: 18px;
                            color: #f0542c;
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            text-align: center;
                            background: transparent;
                            border-radius: 50%;
                            margin-right: 10px;
                            line-height: 50px;
                            border: 1px dashed #f0542c;

                            // Start Hover
                            &:hover {
                                background-color: #f0542c;
                                color: #fff;
                            }

                            // End Hover
                        }
                    }

                    // End Footer Sosial Icons List Item
                }

                // End Footer Sosial Icons List
            }

            // End Footer Sosial

            // Start Footer Line
            .footer--line {
                border-top: 1px solid #e7e4e0;
                margin-top: 100px;
                margin-bottom: 30px;
            }

            // End Footer Line

            // Start Footer Colorlib
            .footer--colorlib {
                text-align: center;
                padding-bottom: 20px;
                flex-wrap: wrap;

                p {
                    font-size: 15px;
                    color: #919191;
                    margin-bottom: 0;
                    font-weight: 500;

                    a {
                        color: #fd955d;
                    }
                }
            }

            // End Footer Colorlib
        }

        // End General Footer
    }

    // End Footer Container
}

// End Footer


// Start Media Footer max-width:800px
@media (max-width: 800px) {
    footer {
        .container {
            .footer {
                .footer--content {
                    .california {
                        padding-bottom: 25px;
                    }

                    .stay {
                        width: 100%;
                        margin-bottom: 100px;
                    }
                }
            }
        }
    }
}

// End General Footer

// Start Head Section
#head {

    // Start Head
    .head {

        background-image: url("./images/bck.png");
        width: 100%;
        height: 390px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 70px;
            color: #fff;
            font-weight: 400;
            margin-bottom: 0;
            font-family: "Paytone One", sans-serif;
            text-transform: uppercase;
            line-height: 1.2em;
        }

    }

    // End Head Head
}


// End Head Section

// Start Main
main {
    display: flex;
    padding: 100px 100px;

    #api {
        width: 65%;
        margin-right: 25px;

        .api {
            .api--img {
                position: relative;

                img {
                    width: 100%;
                }
            }

            .api-content {
                padding: 60px 0px 35px 0px;

                a {
                    color: #666;
                    text-decoration: none;
                    transition: .5s;
                    outline: medium none;

                    &:hover {
                        color: #f0542c;
                    }

                    h2 {
                        font-size: 24px;
                        margin-bottom: 15px;
                        font-weight: 600;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 28px;
                    color: #4d4d4d;
                    font-family: 'Raleway', sans-serif;
                }
            }

            .parr {
                margin-bottom: 20px;
                font-size: 15px;
                font-weight: 300;
                line-height: 28px;
                color: #4d4d4d;
                font-family: 'Raleway', sans-serif;
            }

            .parr--boxs {
                background: rgba(130, 139, 178, .1);
                line-height: 1.733;
                color: #888;
                font-style: italic;
                margin-top: 25px;
                margin-bottom: 25px;
                padding: 30px;
                font-size: 1rem;

                .parr--box {
                    padding: 25px 25px 25px 30px;
                    background: #fff;
                    border-left: 2px solid;
                    line-height: 1.733;
                    color: #888;
                    font-style: italic;
                }
            }

            // Start Iconsss
            .iconsss {
                width: 100%;
                line-height: 1.5;
                color: #212529;
                font-size: 1rem;

                .iconsss--head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .heard {
                        p {
                            span {
                                font-size: 16px;
                                margin-right: 5px;
                                vertical-align: middle;
                                font-weight: 300;
                                line-height: 28px;
                                color: #4d4d4d;

                                i {
                                    font: 14px/1 FontAwesome;
                                    font-size: inherit;
                                    text-rendering: auto;
                                    color: #4d4d4d;
                                }
                            }
                        }
                    }

                    .list {
                        ul {
                            display: flex;

                            li {
                                margin-right: 15px;

                                a {
                                    color: #666;
                                    text-decoration: none;
                                    transition: .5s;

                                    i {
                                        font-size: 14px;
                                        color: #999;
                                        font: 14px/1 FontAwesome;
                                        text-rendering: auto;
                                    }
                                }
                            }
                        }
                    }
                }

                .iconsss-foot {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                    border-bottom: 1px solid #eee;
                    padding-bottom: 30px;
                    margin-top: 55px;

                    .foot--first {
                        display: flex;

                        figure {
                            margin-right: 20px;
                        }

                        .content {
                            p {
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 28px;
                                color: #4d4d4d;
                                font-family: 'Raleway', sans-serif;
                            }

                            a {
                                color: #666;
                                outline: medium none;

                                &:hover {
                                    color: #f0542c;
                                }

                                h4 {
                                    font-size: 18px;
                                    line-height: 25px;
                                }
                            }
                        }
                    }

                    .foot--second {
                        display: flex;

                        .content {
                            margin-right: 20px;

                            p {
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 28px;
                                color: #4d4d4d;
                                font-family: 'Raleway', sans-serif;
                            }

                            a {
                                color: #666;
                                outline: medium none;

                                &:hover {
                                    color: #f0542c;
                                }

                                h4 {
                                    font-size: 18px;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                }
            }

            // End Iconsss

            // Start Milan
            .milan {
                padding: 40px 30px;
                background: #fbf9ff;
                margin-top: 50px;
                display: flex;

                .milan--img {
                    img {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        margin-right: 30px;
                        vertical-align: middle;
                        border-style: none;
                    }
                }

                .milan--content {
                    a {
                        color: #666;


                        h4 {
                            font-size: 16px;
                            font-family: 'Raleway', sans-serif;
                            color: #1f1f1f;
                            line-height: 1.2em;

                            &:hover {
                                color: #f0542c;
                            }
                        }
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 28px;
                        color: #4d4d4d;
                        font-family: 'Raleway', sans-serif;
                    }
                }
            }

            // End Milan

            // Start Reply
            .reply {
                background: transparent;
                border-top: 1px solid #eee;
                padding: 45px 0;
                margin-top: 50px;

                h4 {
                    margin-bottom: 35px;
                    font-size: 18px;
                    line-height: 1.2em;
                    font-family: 'Raleway', sans-serif;
                    color: #1f1f1f;
                    &:hover{
                        text-align: center;
                        transform: scale(1.3);
                        color: #f0542c;
                        
                    }
                }

                .reply--cm {
                    display: flex;
                    padding-bottom: 48px;

                    .cm--img {
                        margin-right: 20px;

                        img {
                            width: 70px;
                            border-radius: 50%;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }

                    .cm-content {
                        p {
                            margin-bottom: 10px;
                            color: #777;
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 28px;
                            font-family: 'Raleway', sans-serif;
                        }

                        .cm-content--rep {
                            display: flex;
                            justify-content: space-between;

                            .first {
                                display: flex;

                                h5 {
                                    font-size: 16px;
                                    margin-bottom: 0;
                                    line-height: 1.2em;
                                    font-family: 'Raleway', sans-serif;
                                    color: #1f1f1f;

                                    a {
                                        color: #666;

                                        &:hover {
                                            color: #f0542c;
                                        }
                                    }
                                }

                                p {
                                    font-size: 14px;
                                    color: #999;
                                    margin-bottom: 0;
                                    margin-left: 20px;
                                    font-weight: 300;
                                    line-height: 28px;
                                    font-family: 'Raleway', sans-serif;
                                }
                            }

                            .second {
                                a {
                                    background-color: transparent;
                                    color: #666;
                                    padding: 5px 18px;
                                    font-size: 14px;
                                    display: block;
                                    font-weight: 400;
                                    transition: .5s;
                                    text-transform: uppercase;

                                    &:hover {
                                        color: #f0542c;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // End Reply

            // Start Form First
            .form--first {
                width: 100%;

                .content {
                    h2 {
                        margin-bottom: 40px;
                        font-size: 18px;
                        line-height: 22px;
                        font-family: 'Raleway', sans-serif;
                        color: #1f1f1f;
                        &:hover{
                            text-align: center;
                            transform: scale(1.3);
                            color: #f0542c;
                            
                        }
                    }
                }

                // Start Form Group
                .form--group {

                    // Start Form Group TextArea
                    .form-group--textarea {
                        margin-bottom: 30px;

                        textarea {
                            border: 1px solid #e5e6e9;
                            border-radius: 0;
                            width: 100%;
                            height: 190px;
                            padding-left: 18px;
                            font-size: 15px;
                            background: transparent;
                            color: #495057;
                            line-height: 1.5;
                            padding: 0.375rem 0.75rem;
                            outline: none;

                            &:focus {
                                border: 2px solid #f0542c;
                            }
                        }
                    }

                    // End Form Group TextArea

                    // Start Form Group List
                    .form-group--list {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        width: 100%;

                        .list--first {
                            width: 100%;
                            margin-right: 10px;

                            input {
                                border: 1px solid #e5e6e9;
                                border-radius: 0;
                                height: 48px;
                                padding-left: 18px;
                                font-size: 13px;
                                background: transparent;
                                display: block;
                                padding: 0.375rem 0.75rem;
                                line-height: 1.5;
                                color: #495057;
                                width: 100%;
                                outline: none;

                                &:focus {
                                    border: 2px solid #f0542c;
                                }
                            }
                        }

                        .list--second {
                            width: 100%;
                            margin-left: 10px;

                            input {
                                border: 1px solid #e5e6e9;
                                border-radius: 0;
                                height: 48px;
                                padding-left: 18px;
                                font-size: 13px;
                                background: transparent;
                                display: block;
                                padding: 0.375rem 0.75rem;
                                line-height: 1.5;
                                color: #495057;
                                width: 100%;
                                outline: none;

                                &:focus {
                                    border: 2px solid #f0542c;
                                }
                            }
                        }
                    }

                    // End Form Group List

                    // Start Form Group Subject
                    .form-group--subject {
                        margin-bottom: 30px;

                        input {
                            border: 1px solid #e5e6e9;
                            border-radius: 0;
                            height: 48px;
                            padding-left: 18px;
                            font-size: 13px;
                            background: transparent;
                            display: block;
                            width: 100%;
                            padding: 0.375rem 0.75rem;
                            line-height: 1.5;
                            color: #495057;
                            outline: none;

                            &:focus {
                                border: 2px solid #f0542c;
                            }
                        }
                    }

                    // End Form Group Subject

                    // Start Form Button
                    .form--button {
                        margin-bottom: 30px;

                        button {
                            background: #fff;
                            padding: 14px 44px;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            border: 1px solid #f0542c;
                            letter-spacing: 3px;
                            text-align: center;
                            color: #f0542c;
                            text-transform: uppercase;
                            cursor: pointer;

                            &:hover {
                                background-color: #f0542c;
                                color: #fff;
                            }
                        }
                    }

                    // End Form Button
                }

                // End Form Group
            }

            // End Form First
        }
    }


    // Start Aside
    #aside {
        background: #fbf9ff;
        padding: 30px;
        margin-bottom: 30px;
        width: 30%;

        .aside {
            #search {

                display: flex;
                flex-direction: column;

                // Start Search
                .search {
                    display: flex;
                    flex-direction: column;

                    form {
                        .form--search {
                            position: relative;

                            .input {
                                margin-bottom: 1rem;
                                align-items: stretch;
                                width: 100%;

                                input {
                                    height: 50px;
                                    border-color: #f0e9ff;
                                    font-size: 13px;
                                    color: #999;
                                    padding-left: 20px;
                                    border-radius: 0;
                                    border-right: 0;
                                    background-color: #fff;
                                    background-clip: padding-box;
                                    border: 1px solid #ced4da;
                                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                                    padding: 0.375rem 0.75rem;
                                    overflow: visible;
                                    font-family: inherit;
                                    width: 100%;
                                    outline: none;

                                    &:focus {
                                        border: 2px solid #f0542c;
                                    }
                                }
                            }

                            .search--icon {
                                position: absolute;
                                top: -3px;
                                right: 1px;
                                margin-left: -1px;
                                line-height: 1.5;
                                color: #212529;
                                font-size: 2rem;

                                button {
                                    background: #fff;
                                    border: 1px solid #f0e9ff;
                                    padding: 4px 15px;
                                    border-left: 0;
                                    cursor: pointer;
                                    z-index: 2;
                                    font-weight: 400;
                                    text-align: center;
                                    white-space: nowrap;
                                    vertical-align: middle;
                                    font-size: 1.5rem;
                                    line-height: 1.5;
                                    border-radius: 0.25rem;

                                    i {
                                        font-size: 14px;
                                        color: #999;
                                    }
                                }
                            }
                        }

                        button {
                            background-color: #fff;
                            display: inline-block;
                            padding: 14px 44px;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            border: 1px solid #f0542c;
                            letter-spacing: 3px;
                            text-align: center;
                            color: #f0542c;
                            text-transform: uppercase;
                            cursor: pointer;
                            width: 100%;

                            &:hover {
                                background-color: #f0542c;
                                border: 1px solid transparent;
                                color: #fff;
                            }
                        }
                    }
                }

                // End Search
            }

            // Start Category Aside
            #category {
                background: #fbf9ff;
                padding: 30px;
                margin-bottom: 30px;

                h4 {
                    font-size: 20px;
                    margin-bottom: 40px;
                    line-height: 1.2em;
                    font-family: 'Raleway', sans-serif;
                    color: #1f1f1f;
                    font-weight: 500;
                    &:hover{
                        text-align: center;
                        transform: scale(1.3);
                        color: #f0542c;
                        
                    }
                }

                ul {
                    li {
                        border-bottom: 1px solid #f0e9ff;
                        transition: all .3s ease 0s;
                        padding-bottom: 12px;
                         &:hover{
                            transform: scale(1.1);
                        }

                        a {
                            font-size: 14px;
                            line-height: 20px;
                            color: #666;
                            text-decoration: none;
                            transition: .5s;
                            display: flex;
                            &:hover{
                                color: #f0542c;
                            }

                            p {
                                font-size: 16px;
                                font-weight: 300;
                                line-height: 28px;
                                color: #4d4d4d;
                                font-family: 'Raleway', sans-serif;
                                  &:hover{
                                    color: #f0542c;
                                }
                            }
                        }
                    }
                }
            }

            // End Category Aside

            // Start Recent Aside
            #recent {
                background: #fbf9ff;
                padding: 30px;
                margin-bottom: 30px;

                h3 {
                    font-size: 20px;
                    line-height: 1.2em;
                    font-family: 'Raleway', sans-serif;
                    color: #1f1f1f;
                    font-weight: 500;
                    &:hover{
                        text-align: center;
                        transform: scale(1.3);
                        color: #f0542c;
                        
                    }
                }

                .recent--item {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 30px;

                    img {
                        vertical-align: middle;
                        border-style: none;
                    }

                    .item {
                        justify-content: center;
                        align-self: center;
                        padding-left: 20px;
                        line-height: 1.5;
                        color: #212529;
                        text-align: left;
                        font-size: 1rem;

                        a {
                            color: #666;
                            text-decoration: none;
                            transition: .5s;

                            h3 {
                                font-size: 16px;
                                line-height: 20px;
                                margin-bottom: 6px;
                                transition: all .3s linear;
                                &:hover{
                                    color: #f0542c;
                                }
                            }
                        }

                        p {
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }
            }

            // End Recent Aside

            // Start Tag Aside
            #tag {
                margin-top: 60px;
                margin-bottom: 60px;

                h4 {
                    font-size: 20px;
                    margin-bottom: 40px;
                    line-height: 1.2em;
                    font-family: 'Raleway', sans-serif;
                    color: #1f1f1f;
                    font-weight: 500;
                    &:hover{
                        text-align: center;
                        transform: scale(1.3);
                        color: #f0542c;
                        
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        &:hover{
                            transform: scale(1.1);
                        }
                        a {
                            display: inline-block;
                            border: 1px solid #eee;
                            background-color: #fff;
                            padding: 4px 20px;
                            margin-bottom: 8px;
                            margin-right: 3px;
                            transition: all .3s ease 0s;
                            font-size: 13px;
                            color: #666;
                            text-decoration: none;
                            outline: medium none;
                            &:hover{
                                border: 1px solid #f0542c;
                                background-color: #f0542c;
                                color: #fff;
                                }
                        }
                    }
                }
            }

            // End Tag Aside

            // Start Ins Aside
            #ins {
                h4 {
                    font-size: 20px;
                    margin-bottom: 40px;
                    line-height: 1.2em;
                    font-family: 'Raleway', sans-serif;
                    color: #1f1f1f;
                    font-weight: 500;
                    &:hover{
                        text-align: center;
                        transform: scale(1.3);
                        color: #f0542c;
                        
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: 33.33%;
                        padding-right: 6px;
                        padding-left: 6px;
                        margin-bottom: 15px;

                        a {
                            color: #666;
                            text-decoration: none;
                            transition: .5s;
                            outline: medium none;

                            img {
                                max-width: 100%;
                                height: auto;
                                 &:hover{
                                    transform: scale(1.2);
                                    border: 2px solid #f0542c;
                                }
                            }
                        }
                    }
                }
            }

            // End Ins Aside

            #email {

                display: flex;
                flex-direction: column;

                h4 {
                    font-size: 20px;
                    margin-bottom: 40px;
                    line-height: 1.2em;
                    font-family: 'Raleway', sans-serif;
                    color: #1f1f1f;
                    font-weight: 500;
                    &:hover{
                        text-align: center;
                        transform: scale(1.3);
                        color: #f0542c;
                        
                    }
                }

                // Start Search
                .email {
                    display: flex;
                    flex-direction: column;

                    form {
                        .form--search {
                            position: relative;

                            .input {
                                margin-bottom: 1rem;
                                align-items: stretch;
                                width: 100%;

                                input {
                                    height: 50px;
                                    border-color: #f0e9ff;
                                    font-size: 13px;
                                    color: #999;
                                    padding-left: 20px;
                                    border-radius: 0;
                                    display: block;
                                    width: 100%;
                                    padding: 0.375rem 0.75rem;
                                    line-height: 1.5;
                                    background-color: #fff;
                                    background-clip: padding-box;
                                    border: 1px solid #ced4da;
                                    overflow: visible;
                                    font-family: inherit;
                                    outline: none;
                                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                                    &:focus {
                                        border: 2px solid #f0542c;
                                    }
                                }
                            }
                        }

                        button {
                            background-color: #fff;
                            display: inline-block;
                            padding: 14px 44px;
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            border: 1px solid #f0542c;
                            letter-spacing: 3px;
                            text-align: center;
                            color: #f0542c;
                            text-transform: uppercase;
                            cursor: pointer;
                            width: 100%;

                            &:hover {
                                background-color: #f0542c;
                                border: 1px solid transparent;
                                color: #fff;
                            }
                        }
                    }
                }

                // End Search
            }

        }
    }

    // End Aside
}

// End Main



@media (max-width: 1024px) {
    #head {
        .head {
            h3 {
                font-size: 60px;
            }
        }
    }

    main {
        padding: 80px 50px;

        #aside {
            .aside {
                #recent {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    #head {
        .head {
            h3 {
                font-size: 50px;
            }
        }
    }

    main {
        padding: 50px 30px;
        flex-direction: column;

        #api {
            width: 100%;
        }

        #aside {
            width: 100%;
        }
    }
}


@media (max-width: 480px) {
    #head {
        .head {
            h3 {
                font-size: 40px;
            }
        }
    }

    main {
        padding: 30px 10px;
        flex-direction: column;

        #api {
            .api {
                .api--img {
                    .time {
                        padding: 5px 15px;
                    }
                }

                .iconsss {
                    .iconsss--head {
                        flex-direction: column;
                    }

                    .iconsss-foot {
                        flex-direction: column;

                        .foot--first {
                            justify-content: start;
                        }

                        .foot--second {
                            justify-content: end;
                        }
                    }
                }

                .form--first {
                    .form--group {
                        .form-group--list {
                            flex-direction: column;

                            .list--first {
                                margin-right: 0;
                                margin-bottom: 15px;
                            }

                            .list--second {
                                margin-left: 0;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}