* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  background: transparent;
  z-index: 1000;
}

header .navBar.active {
  padding: 24px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .container {
  padding: 0 5px;
}

header .container .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
}

header .container .navBar .navbar .navbar--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .container .navBar .navbar .navbar--list .navbar-list--item a {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  font-family: "Paytone One", sans-serif;
  cursor: pointer;
}

header .container .navBar .navbar .navbar--list .navbar-list--item a:hover {
  color: #f2c64d;
}

header .container .navBar .navbar .navbar--list .navbar-list--item a:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
  bottom: -15px;
  position: absolute;
  background: #f2c64d;
}

header .container .navBar .navbar .navbar--list .navbar-list--item a i {
  font-size: 10px;
  text-align: center;
  padding-left: 5px;
}

header .container .navBar .navbar .navbar--list .navbar-list--item .active {
  cursor: pointer;
  color: #f2c64d;
  position: relative;
}

header .container .navBar .navbar .navbar--list .navbar-list--item .active::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
  bottom: -15px;
  position: absolute;
  background: #f2c64d;
}

header .container .navBar .navbar .navbar--list .navbar-list--item .down {
  position: relative;
  display: inline-block;
}

header .container .navBar .navbar .navbar--list .navbar-list--item .down:hover .down--list {
  display: block;
}

header .container .navBar .navbar .navbar--list .navbar-list--item .down .down--list {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 38px;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .container .navBar .navbar .navbar--list .navbar-list--item .down .down--list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

header .container .navBar .navbar .navbar--list .navbar-list--item .down .down--list a:hover {
  background-color: #ddd;
}

header .container .navBar .sosial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

header .container .navBar .sosial .sosial--icons .sosial-icons--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

header .container .navBar .sosial .sosial--icons .sosial-icons--list .sosial-list--item {
  cursor: pointer;
}

header .container .navBar .sosial .sosial--icons .sosial-icons--list .sosial-list--item:hover {
  border: 1px solid #f2c64d;
  padding: 7px;
  border-radius: 50%;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

header .container .navBar .sosial .sosial--icons .sosial-icons--list .sosial-list--item a {
  color: #fff;
  font-family: "Paytone One", sans-serif;
}

header .container .navBar .sosial .sosial--icons .sosial-icons--list .sosial-list--item a:hover {
  color: #f2c64d;
}

header .container .navBar .sosial .sosial--number a {
  background: transparent;
  padding: 12px 26px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #f2c64d;
  color: #f2c64d;
  border-radius: 30px;
  font-family: "Paytone One", sans-serif;
}

header .container .navBar .sosial .sosial--number a:hover {
  color: #fff;
  background-color: #f2c64d;
}

header .container .mobile--navbar {
  display: none;
}

header .container .mobile-navbar--list {
  display: none;
}

@media (max-width: 800px) {
  header {
    position: relative;
  }
  header .container .navBar {
    display: none;
  }
  header .container .mobile--navbar {
    position: relative;
    background-color: #4c4c4c;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  header .container .mobile--navbar .mobile-navbar--btn {
    position: absolute;
    right: 10px;
    border: 1px solid black;
    background: black;
    padding: 5px;
    outline: none;
  }
  header .container .mobile--navbar .mobile-navbar--btn .mobile-navbar--btn--text {
    color: #fff;
    line-height: 1.188em;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
    font-size: 20px;
    padding: 0 8px;
  }
  header .container .mobile--navbar .mobile-navbar--btn .mobile-navbar--btn--icon {
    line-height: 1.188em;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
    font-size: 18px;
  }
  header .container .mobile-navbar--list {
    background-color: #4c4c4c;
    position: absolute;
    top: -500px;
    width: 100%;
    height: auto;
    -webkit-transition: .3s;
    transition: .3s;
    display: block;
    z-index: 99999;
  }
  header .container .mobile-navbar--list ul li a {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 0.2px;
  }
  header .container .navbar--show {
    top: 50px;
  }
}

footer .container {
  padding: 0 25px;
}

footer .container .footer .footer--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container .footer .footer--content .newyork {
  text-align: center;
  padding-top: 113px;
  padding-bottom: 100px;
}

footer .container .footer .footer--content .newyork h3 {
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 700;
  color: #1a0d01;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
}

footer .container .footer .footer--content .newyork p {
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 13px;
  font-family: 'Raleway', sans-serif;
}

footer .container .footer .footer--content .newyork p a {
  color: #6e6e6e;
  outline: medium none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

footer .container .footer .footer--content .newyork a {
  color: #f0542c;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  outline: medium none;
}

footer .container .footer .footer--content .california {
  text-align: center;
}

footer .container .footer .footer--content .california h3 {
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: 700;
  color: #1a0d01;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
}

footer .container .footer .footer--content .california p {
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 13px;
  font-family: 'Raleway', sans-serif;
}

footer .container .footer .footer--content .california p a {
  color: #6e6e6e;
  outline: medium none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

footer .container .footer .footer--content .california a {
  color: #f0542c;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  outline: medium none;
}

footer .container .footer .footer--content .stay h3 {
  font-size: 24px;
  font-weight: 700;
  color: #1a0d01;
  text-transform: capitalize;
  margin-bottom: 39px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
}

footer .container .footer .footer--content .stay form {
  position: relative;
  margin-bottom: 20px;
}

footer .container .footer .footer--content .stay form input {
  width: 100%;
  height: 50px;
  background: #f5fbff;
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  border: 1px solid #e8e8e8;
  border-radius: 30px;
  overflow: visible;
  outline: none;
}

footer .container .footer .footer--content .stay form input:focus {
  border: 2px solid #f0542c;
}

footer .container .footer .footer--content .stay form button {
  position: absolute;
  height: 40px;
  border: none;
  color: #fff;
  background: #f0542c;
  padding: 10px;
  padding: 0 22px;
  cursor: pointer;
  border-radius: 30px;
  top: 5px;
  right: 5px;
  font-size: 16px;
  font-weight: 600;
}

footer .container .footer .footer--content .stay p {
  font-size: 16px;
  color: #6e6e6e;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 13px;
}

footer .container .footer .footer--sosial .footer-sosial--icons--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

footer .container .footer .footer--sosial .footer-sosial--icons--list .footer-sosial--list--icons--item a {
  font-size: 18px;
  color: #f0542c;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  margin-right: 10px;
  line-height: 50px;
  border: 1px dashed #f0542c;
}

footer .container .footer .footer--sosial .footer-sosial--icons--list .footer-sosial--list--icons--item a:hover {
  background-color: #f0542c;
  color: #fff;
}

footer .container .footer .footer--line {
  border-top: 1px solid #e7e4e0;
  margin-top: 100px;
  margin-bottom: 30px;
}

footer .container .footer .footer--colorlib {
  text-align: center;
  padding-bottom: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container .footer .footer--colorlib p {
  font-size: 15px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 500;
}

footer .container .footer .footer--colorlib p a {
  color: #fd955d;
}

@media (max-width: 800px) {
  footer .container .footer .footer--content .california {
    padding-bottom: 25px;
  }
  footer .container .footer .footer--content .stay {
    width: 100%;
    margin-bottom: 100px;
  }
}

#head .head {
  background-image: url("./images/bck.png");
  width: 100%;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#head .head h3 {
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 100px;
}

main #api {
  width: 65%;
  margin-right: 25px;
}

main #api .api .api--img {
  position: relative;
}

main #api .api .api--img img {
  width: 100%;
}

main #api .api .api-content {
  padding: 60px 0px 35px 0px;
}

main #api .api .api-content a {
  color: #666;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  outline: medium none;
}

main #api .api .api-content a:hover {
  color: #f0542c;
}

main #api .api .api-content a h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
}

main #api .api .api-content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
}

main #api .api .parr {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
}

main #api .api .parr--boxs {
  background: rgba(130, 139, 178, 0.1);
  line-height: 1.733;
  color: #888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 30px;
  font-size: 1rem;
}

main #api .api .parr--boxs .parr--box {
  padding: 25px 25px 25px 30px;
  background: #fff;
  border-left: 2px solid;
  line-height: 1.733;
  color: #888;
  font-style: italic;
}

main #api .api .iconsss {
  width: 100%;
  line-height: 1.5;
  color: #212529;
  font-size: 1rem;
}

main #api .api .iconsss .iconsss--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #api .api .iconsss .iconsss--head .heard p span {
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
}

main #api .api .iconsss .iconsss--head .heard p span i {
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: #4d4d4d;
}

main #api .api .iconsss .iconsss--head .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #api .api .iconsss .iconsss--head .list ul li {
  margin-right: 15px;
}

main #api .api .iconsss .iconsss--head .list ul li a {
  color: #666;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

main #api .api .iconsss .iconsss--head .list ul li a i {
  font-size: 14px;
  color: #999;
  font: 14px/1 FontAwesome;
  text-rendering: auto;
}

main #api .api .iconsss .iconsss-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px;
}

main #api .api .iconsss .iconsss-foot .foot--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #api .api .iconsss .iconsss-foot .foot--first figure {
  margin-right: 20px;
}

main #api .api .iconsss .iconsss-foot .foot--first .content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
}

main #api .api .iconsss .iconsss-foot .foot--first .content a {
  color: #666;
  outline: medium none;
}

main #api .api .iconsss .iconsss-foot .foot--first .content a:hover {
  color: #f0542c;
}

main #api .api .iconsss .iconsss-foot .foot--first .content a h4 {
  font-size: 18px;
  line-height: 25px;
}

main #api .api .iconsss .iconsss-foot .foot--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #api .api .iconsss .iconsss-foot .foot--second .content {
  margin-right: 20px;
}

main #api .api .iconsss .iconsss-foot .foot--second .content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
}

main #api .api .iconsss .iconsss-foot .foot--second .content a {
  color: #666;
  outline: medium none;
}

main #api .api .iconsss .iconsss-foot .foot--second .content a:hover {
  color: #f0542c;
}

main #api .api .iconsss .iconsss-foot .foot--second .content a h4 {
  font-size: 18px;
  line-height: 25px;
}

main #api .api .milan {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #api .api .milan .milan--img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
  vertical-align: middle;
  border-style: none;
}

main #api .api .milan .milan--content a {
  color: #666;
}

main #api .api .milan .milan--content a h4 {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
  line-height: 1.2em;
}

main #api .api .milan .milan--content a h4:hover {
  color: #f0542c;
}

main #api .api .milan .milan--content p {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
}

main #api .api .reply {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 45px 0;
  margin-top: 50px;
}

main #api .api .reply h4 {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
}

main #api .api .reply h4:hover {
  text-align: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f0542c;
}

main #api .api .reply .reply--cm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
}

main #api .api .reply .reply--cm .cm--img {
  margin-right: 20px;
}

main #api .api .reply .reply--cm .cm--img img {
  width: 70px;
  border-radius: 50%;
}

main #api .api .reply .reply--cm .cm--img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main #api .api .reply .reply--cm .cm-content p {
  margin-bottom: 10px;
  color: #777;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  font-family: 'Raleway', sans-serif;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep .first h5 {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep .first h5 a {
  color: #666;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep .first h5 a:hover {
  color: #f0542c;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep .first p {
  font-size: 14px;
  color: #999;
  margin-bottom: 0;
  margin-left: 20px;
  font-weight: 300;
  line-height: 28px;
  font-family: 'Raleway', sans-serif;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep .second a {
  background-color: transparent;
  color: #666;
  padding: 5px 18px;
  font-size: 14px;
  display: block;
  font-weight: 400;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
}

main #api .api .reply .reply--cm .cm-content .cm-content--rep .second a:hover {
  color: #f0542c;
}

main #api .api .form--first {
  width: 100%;
}

main #api .api .form--first .content h2 {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
}

main #api .api .form--first .content h2:hover {
  text-align: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f0542c;
}

main #api .api .form--first .form--group .form-group--textarea {
  margin-bottom: 30px;
}

main #api .api .form--first .form--group .form-group--textarea textarea {
  border: 1px solid #e5e6e9;
  border-radius: 0;
  width: 100%;
  height: 190px;
  padding-left: 18px;
  font-size: 15px;
  background: transparent;
  color: #495057;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  outline: none;
}

main #api .api .form--first .form--group .form-group--textarea textarea:focus {
  border: 2px solid #f0542c;
}

main #api .api .form--first .form--group .form-group--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

main #api .api .form--first .form--group .form-group--list .list--first {
  width: 100%;
  margin-right: 10px;
}

main #api .api .form--first .form--group .form-group--list .list--first input {
  border: 1px solid #e5e6e9;
  border-radius: 0;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  width: 100%;
  outline: none;
}

main #api .api .form--first .form--group .form-group--list .list--first input:focus {
  border: 2px solid #f0542c;
}

main #api .api .form--first .form--group .form-group--list .list--second {
  width: 100%;
  margin-left: 10px;
}

main #api .api .form--first .form--group .form-group--list .list--second input {
  border: 1px solid #e5e6e9;
  border-radius: 0;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  width: 100%;
  outline: none;
}

main #api .api .form--first .form--group .form-group--list .list--second input:focus {
  border: 2px solid #f0542c;
}

main #api .api .form--first .form--group .form-group--subject {
  margin-bottom: 30px;
}

main #api .api .form--first .form--group .form-group--subject input {
  border: 1px solid #e5e6e9;
  border-radius: 0;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  outline: none;
}

main #api .api .form--first .form--group .form-group--subject input:focus {
  border: 2px solid #f0542c;
}

main #api .api .form--first .form--group .form--button {
  margin-bottom: 30px;
}

main #api .api .form--first .form--group .form--button button {
  background: #fff;
  padding: 14px 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #f0542c;
  letter-spacing: 3px;
  text-align: center;
  color: #f0542c;
  text-transform: uppercase;
  cursor: pointer;
}

main #api .api .form--first .form--group .form--button button:hover {
  background-color: #f0542c;
  color: #fff;
}

main #aside {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px;
  width: 30%;
}

main #aside .aside #search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #aside .aside #search .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #aside .aside #search .search form .form--search {
  position: relative;
}

main #aside .aside #search .search form .form--search .input {
  margin-bottom: 1rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

main #aside .aside #search .search form .form--search .input input {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999;
  padding-left: 20px;
  border-radius: 0;
  border-right: 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  padding: 0.375rem 0.75rem;
  overflow: visible;
  font-family: inherit;
  width: 100%;
  outline: none;
}

main #aside .aside #search .search form .form--search .input input:focus {
  border: 2px solid #f0542c;
}

main #aside .aside #search .search form .form--search .search--icon {
  position: absolute;
  top: -3px;
  right: 1px;
  margin-left: -1px;
  line-height: 1.5;
  color: #212529;
  font-size: 2rem;
}

main #aside .aside #search .search form .form--search .search--icon button {
  background: #fff;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0;
  cursor: pointer;
  z-index: 2;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

main #aside .aside #search .search form .form--search .search--icon button i {
  font-size: 14px;
  color: #999;
}

main #aside .aside #search .search form button {
  background-color: #fff;
  display: inline-block;
  padding: 14px 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #f0542c;
  letter-spacing: 3px;
  text-align: center;
  color: #f0542c;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}

main #aside .aside #search .search form button:hover {
  background-color: #f0542c;
  border: 1px solid transparent;
  color: #fff;
}

main #aside .aside #category {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px;
}

main #aside .aside #category h4 {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
  font-weight: 500;
}

main #aside .aside #category h4:hover {
  text-align: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f0542c;
}

main #aside .aside #category ul li {
  border-bottom: 1px solid #f0e9ff;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  padding-bottom: 12px;
}

main #aside .aside #category ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #aside .aside #category ul li a {
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #aside .aside #category ul li a:hover {
  color: #f0542c;
}

main #aside .aside #category ul li a p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
}

main #aside .aside #category ul li a p:hover {
  color: #f0542c;
}

main #aside .aside #recent {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px;
}

main #aside .aside #recent h3 {
  font-size: 20px;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
  font-weight: 500;
}

main #aside .aside #recent h3:hover {
  text-align: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f0542c;
}

main #aside .aside #recent .recent--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

main #aside .aside #recent .recent--item img {
  vertical-align: middle;
  border-style: none;
}

main #aside .aside #recent .recent--item .item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  font-size: 1rem;
}

main #aside .aside #recent .recent--item .item a {
  color: #666;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

main #aside .aside #recent .recent--item .item a h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

main #aside .aside #recent .recent--item .item a h3:hover {
  color: #f0542c;
}

main #aside .aside #recent .recent--item .item p {
  font-size: 14px;
  line-height: 21px;
}

main #aside .aside #tag {
  margin-top: 60px;
  margin-bottom: 60px;
}

main #aside .aside #tag h4 {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
  font-weight: 500;
}

main #aside .aside #tag h4:hover {
  text-align: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f0542c;
}

main #aside .aside #tag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #aside .aside #tag ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #aside .aside #tag ul li a {
  display: inline-block;
  border: 1px solid #eee;
  background-color: #fff;
  padding: 4px 20px;
  margin-bottom: 8px;
  margin-right: 3px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  font-size: 13px;
  color: #666;
  text-decoration: none;
  outline: medium none;
}

main #aside .aside #tag ul li a:hover {
  border: 1px solid #f0542c;
  background-color: #f0542c;
  color: #fff;
}

main #aside .aside #ins h4 {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
  font-weight: 500;
}

main #aside .aside #ins h4:hover {
  text-align: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f0542c;
}

main #aside .aside #ins ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #aside .aside #ins ul li {
  width: 33.33%;
  padding-right: 6px;
  padding-left: 6px;
  margin-bottom: 15px;
}

main #aside .aside #ins ul li a {
  color: #666;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  outline: medium none;
}

main #aside .aside #ins ul li a img {
  max-width: 100%;
  height: auto;
}

main #aside .aside #ins ul li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 2px solid #f0542c;
}

main #aside .aside #email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #aside .aside #email h4 {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1.2em;
  font-family: 'Raleway', sans-serif;
  color: #1f1f1f;
  font-weight: 500;
}

main #aside .aside #email h4:hover {
  text-align: center;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f0542c;
}

main #aside .aside #email .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #aside .aside #email .email form .form--search {
  position: relative;
}

main #aside .aside #email .email form .form--search .input {
  margin-bottom: 1rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

main #aside .aside #email .email form .form--search .input input {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999;
  padding-left: 20px;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  overflow: visible;
  font-family: inherit;
  outline: none;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

main #aside .aside #email .email form .form--search .input input:focus {
  border: 2px solid #f0542c;
}

main #aside .aside #email .email form button {
  background-color: #fff;
  display: inline-block;
  padding: 14px 44px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #f0542c;
  letter-spacing: 3px;
  text-align: center;
  color: #f0542c;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}

main #aside .aside #email .email form button:hover {
  background-color: #f0542c;
  border: 1px solid transparent;
  color: #fff;
}

@media (max-width: 1024px) {
  #head .head h3 {
    font-size: 60px;
  }
  main {
    padding: 80px 50px;
  }
  main #aside .aside #recent {
    padding: 0;
  }
}

@media (max-width: 800px) {
  #head .head h3 {
    font-size: 50px;
  }
  main {
    padding: 50px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #api {
    width: 100%;
  }
  main #aside {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #head .head h3 {
    font-size: 40px;
  }
  main {
    padding: 30px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #api .api .api--img .time {
    padding: 5px 15px;
  }
  main #api .api .iconsss .iconsss--head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #api .api .iconsss .iconsss-foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #api .api .iconsss .iconsss-foot .foot--first {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main #api .api .iconsss .iconsss-foot .foot--second {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  main #api .api .form--first .form--group .form-group--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #api .api .form--first .form--group .form-group--list .list--first {
    margin-right: 0;
    margin-bottom: 15px;
  }
  main #api .api .form--first .form--group .form-group--list .list--second {
    margin-left: 0;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=single-blog.css.map */